type project
id Thoth.Json.Net.Codec
version 0.0.4
authors github.com/njlr
title Thoth.Json.Net.Codec
tags fable fsharp json thoth codec
repositoryType git
repositoryUrl https://github.com/njlr/thoth-json-codec
files
  ../LICENSE.txt ==> LICENSE.txt
description Codec support for Thoth.Json.Net
summary Codec support for Thoth.Json.Net
licenseUrl https://licenses.nuget.org/MIT
licenseExpression MIT
