type project
id Thoth.Json.Codec
version 0.0.1
authors github.com/njlr
title Thoth.Json.Codec
tags fable fsharp json thoth codec
repositoryType git
repositoryUrl https://github.com/njlr/thoth-json-codec
files
  ../LICENSE.txt ==> LICENSE.txt
description Codec support for Thoth.Json
summary Codec support for Thoth.Json
licenseUrl https://licenses.nuget.org/MIT
licenseExpression MIT
